
    body{
        background-color: #EAFDFC; 
    }
    hr{
        border-style: dotted none none none;
        box-sizing: 20%;
        border-width: 10px;
        width: 10%;
        border-color: #91D8E4;
            
    }
    h1{
        color: #82AAE3;
    }
    h3{
        color: #3C84AB;
    }
    textarea{
        background-color: #EAFDFC;
    }
    input{
        background-color: #EAFDFC;
    }
    .name:hover{
        color: rgb(255, 140, 242);
    }
   
    h3:hover{
        color: darkblue;
    }
    h1:hover{
        color: red;
    }